#ignore everything 
*

#except ... 
!.gitignore
!src/
!src/*
!src/*/*
!src/*/*/*
!src/*/*/*/*
!src/*/*/*/*/*
!src/*/*/*/*/*/*
!src/*/*/*/*/*/*/*
!src/*/*/*/*/*/*/*/*
!src/*/*/*/*/*/*/*/*/*
!src/*/*/*/*/*/*/*/*/*/*
!bin/
!bin/*
!bin/*/*
!bin/*/*/*
!bin/*/*/*/*
!bin/*/*/*/*/*
!bin/*/*/*/*/*/*
!bin/*/*/*/*/*/*/*
!bin/*/*/*/*/*/*/*/*

#even if they are subs
!*/
/bin/
/src/